<!-- Alert -->
<!-- <alart [code]="code" [status]="status"></alart> -->
<!-- Alert End-->  
<div class="row">
    <div class="col-12">
        <div class="card">
            <ul class="nav nav-tabs profile-tab" *ngIf="identity.role=='employee'">
                <li class="nav-item"> <a class="nav-link" routerLink="/emp-induction-list" [routerLinkActive]="['router-link-active']">Induction Lists</a> </li>
                <li class="nav-item"> <a class="nav-link active" routerLink="/emp-form-list" [routerLinkActive]="['router-link-active']">Forms</a> </li>
            </ul>
            <div class="card-body">
                <div class="col-12 padding-zero" style="padding-bottom: 10px;">
                    <div class="inlien-block">
                        <div class="dataTables_filter padding-zero">
                            <input type="search" class="" placeholder="Search">
                            <span style="margin-left: 25px; ">Showing 1 to 10 of 57 entries</span>
                        </div>
                    </div>
                    <div class="btn-group inlien-block flaot-right" role="group">
                        <button type="button" class="btn btn-success btn-sm text-uppercase"><i class="fa fa-file"></i> Export to CSV</button>
                    </div>
                </div>

                <div class="table-responsive" >
                    <table id="example23" class="display nowrap table color-table dark-table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    SL No
                                </th>                   
                                <th>
                                    <span class="name-table-head">Form Name</span>
                                    <span class="up-down-angle">
                                        <div (click)="sorting.sortAscending(formDataList,'name')"><i class="fa fa-angle-up"></i></div>
                                        <div (click)="sorting.sortDescending(formDataList,'name')"><i class="fa fa-angle-down"></i></div>
                                    </span>
                                </th>
                                <th>                    
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let form of formDataList; let i = 'index'">
                                <td>{{i+1}}</td>
                                <td>{{form.formName}}</td>
                                <td>
                                    <a class="btn btn-success btn-sm" (click)="previewData(form)" style="color: #fff;">Fill Form</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>   
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="previewForm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="form-add">  
                    <form class="addFormData">
                        <div class="f-render" style="padding: 30px;"></div>
                        <div class="text-center" *ngIf="!loader">
                            <button class="btn btn-info btn-sm" (click)="AddFormData()">Add</button>
                        </div>
                        <div class="loader" *ngIf="loader"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



