<!-- Alert -->
<alart [code]="extra.code" [status]="extra.status"></alart>
<!-- Alert End-->  
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="heading" style="">
                    <div class="btn-div">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#addTimeSheet" (click)="initUploadTimesheet()"><i class="fa fa-plus"></i>  Add Timesheet</button>
                        <div ngbDropdown class="d-inline-block">
                            <button type="button" class="btn btn-info btn-sm" ngbDropdownToggle id="printDropDown"><i class="fa fa-print"></i> Print Timesheet</button>
                            <div ngbDropdownMenu aria-labelledby="printDropDown">
                                <button class="btn dropdown-item btn-sm" *ngFor="let sheet of timesheetArray; let i='index'" (click)="printTimesheet(sheet)"><i class="fa fa-print"></i> 
                                    {{validationForm.dateShow(sheet.date)}}
                                ({{sheet.allocatedDates.employeeAllocation.task.taskName}})</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header filter-head" data-toggle="collapse" data-target="#demo" (click)="toggelIcon()" style="border: 0px;cursor: pointer;">
                        <span style="font-weight: 600;"><i class="fa fa-search" style="padding-right: 10px;"></i>Advance Search</span>
                        <span *ngIf="!extra.loaderadd" style="float: right;"><i class="fa fa-plus"></i></span>
                        <span *ngIf="extra.loaderadd" style="float: right;"><i class="fa fa-minus"></i></span>
                    </div>
                    <div id="demo" class="collapse">
                        <div class="card-body filter-body">
                            <div class="row floating-labels">
                                <div class="form-group col-xs-6 col-md-4" >
                                    <label>Job Name</label>
                                    <input type="text" class="form-control"  name="job" [(ngModel)]="timeFilter.taskName">
                                    <span class="bar"></span>
                                </div>
                                <div class="form-group col-xs-6 col-md-4" >
                                    <label>Client</label>
                                    <input type="text" class="form-control"  name="client" [(ngModel)]="timeFilter.client">
                                    <span class="bar"></span>
                                </div>
                                <div class="form-group col-xs-6 col-md-4">
                                    <label>Project Address</label>
                                    <input type="text" class="form-control"  name="address" [(ngModel)]="timeFilter.proAddress">
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="row floating-labels">
                                <div class="form-group col-md-6">
                                    <h5>Dates</h5>
                                    <div class="row">
                                        <div class="col-sm-6">
                                           <h6>Start Date</h6>
                                            <input type="date" class="form-control" name="orderId" [(ngModel)]="timeFilter.startDate">
                                            <span class="bar"></span> 
                                        </div>
                                        <div class="col-sm-6">
                                            <h6>End Date</h6>
                                            <input type="date" class="form-control" name="orderId" [(ngModel)]="timeFilter.endDate">
                                            <span class="bar"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <h5>Time</h5>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <h6>Start Time</h6>
                                            <input type="time" class="form-control" name="orderId" [(ngModel)]="timeFilter.startTime">
                                            <span class="bar"></span>
                                        </div>
                                        <div class="col-sm-6">
                                            <h6>End Time</h6>
                                            <input type="time" class="form-control" name="orderId" [(ngModel)]="timeFilter.endTime">
                                            <span class="bar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center" style="margin-bottom: 10px;">
                                <button type="button" class="btn btn-info btn-sm" (click)="searchAdvanceFilter()">Search</button>
                                <button type="button" class="btn btn-sm btn-danger" (click)="resetAdvanceFilter()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="div-wrapper">
                    <div class="row heading-div">
                        <div class="col-md-2">
                           <div class="row" style="width: 100%; border: none!important;">
                                <span class="col-9">Job name</span>
                                <span class="col-3 up-down-angle">
                                    <div (click)="comService.taskSorting(timesheetArray,false)"><i class="fa fa-angle-up"></i></div>
                                    <div (click)="comService.taskSorting(timesheetArray,true)"><i class="fa fa-angle-down"></i></div>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row" style="width: 100%; border: none!important;">
                                <span class="col-9">Client & Project Address</span>
                                <span class="col-3 up-down-angle">
                                    <div (click)="comService.timeClientSorting(timesheetArray,false)"><i class="fa fa-angle-up"></i></div>
                                    <div (click)="comService.timeClientSorting(timesheetArray,true)"><i class="fa fa-angle-down"></i></div>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="row" style="width: 100%; border: none!important;">
                                <span class="col-9">Date & Time Shift</span>
                                <span class="col-3 up-down-angle">
                                    <div (click)="comService.sortDescendingDate(timesheetArray,'date')"><i class="fa fa-angle-up"></i></div>
                                    <div (click)="comService.sortAscendingDate(timesheetArray,'date')"><i class="fa fa-angle-down"></i></div>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2"><span>Total working hours and Overtime/Weekend</span></div>
                        <div class="col-md-2"><span>Attachment</span></div>
                        <div class="col-md-2"><span>Action</span></div>
                    </div>
                     <div class="row data-div" *ngFor="let sheet of timesheetArray; let i='index'; trackBy:trackTimesheet">
                            <div class="col-md-2"><b>Job:</b> {{sheet.allocatedDates.employeeAllocation.task.taskName}} ({{sheet.allocatedDates.employeeAllocation.task.job[0].name}})</div>
                            <div class="col-md-2">
                                <p style="margin-bottom: 0.5rem;"><b>Client:</b> {{sheet.allocatedDates.employeeAllocation.task.order.project.client.companyName}}</p>
                                <p style="margin: 0px;"><b>Address:</b> {{sheet.allocatedDates.employeeAllocation.task.order.project.projectAddress}}</p>
                            </div>
                            <div class="col-md-2">
                                <p style="margin-bottom: 0.5rem;"><b>Date:</b>{{validationForm.dateShow(sheet.date)}}</p>
                                <p style="margin: 0px;"><b>Time Shift:</b> {{validationForm.timeShow(sheet.startTime)}} to {{validationForm.timeShow(sheet.finishTime)}}</p>
                            </div>
                            <div class="col-md-2">
                                <p style="margin-bottom: 0.5rem;"><b>Total workig hours:</b> {{sheet.hoursWorked}}</p>
                                <p style="margin: 0px;"><b>Overtime/Weekend:</b> {{validationForm.checkWeekend(sheet.weekDay)}}</p>
                            </div>
                            <div class="col-md-2 status-btn"><b>Attachment: </b>
                                <div *ngIf="sheet.employeeTimesheetDocument">
                                    <div *ngIf="!checkPdf(sheet.employeeTimesheetDocument?.fileName)" (click)="imagePopUp.imagePreview(url + '/documents/'+sheet.employeeTimesheetDocument?.fileName)" style="cursor: pointer;">
                                        <img class="show-img" data-toggle="modal" data-target="#ImagePop" src="{{url}}/documents/{{sheet.employeeTimesheetDocument?.fileName}}" width="50" height="50">
                                    </div>
                                    <a *ngIf="checkPdf(sheet.employeeTimesheetDocument?.fileName)" href="{{url}}/documents/{{sheet.employeeTimesheetDocument?.fileName}}" target="_blank" style="cursor: pointer;">
                                        <img class="show-img" src="./assets/images/pdf.png" width="50" height="50">
                                    </a>
                                </div>
                                <span *ngIf="!sheet.employeeTimesheetDocument">No Attachment</span>
                                                
                            </div>
                            <div class="col-md-2 action-button">
                                <b>Action: </b>
                                <span class="btn btn-sm btn-info" data-toggle="modal" data-target="#addTimeSheet" (click)="initEditTimesheet(sheet)">Edit</span>
                                <span class="btn btn-sm btn-danger" data-toggle="modal" data-target="#archive" (click)="initArchiveTimesheet(sheet,i)">Archive</span>
                            </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px; clear: both;">
                    <div class="col-md-6 text-left">
                        <div class="dataTables_length" id="myTable_length">
                            <label>Show 
                                <select name="myTable_length" aria-controls="myTable" class="">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ngb-pagination [collectionSize]="pagination.total_items_count" [(pageSize)] = "pagination.pageSize" [(page)]="pagination.page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)" style="float: right;"></ngb-pagination>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

<div id="addTimeSheet" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" style="margin-bottom: 20px;">
                            Timesheet Form
                            <button type="button" class="btn btn-info btn-sm" (click)="printTimesheet()"><i class="fa fa-print"></i> Print TimeSheet</button>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </h4>

                        <form class="floating-labels" role="form" #registerForm="ngForm">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Empolyee</label>
                                    <input type="text" class="form-control" name="emp" [(ngModel)]="timesheet.employee.user.firstName+' '+timesheet.employee.user.lastName" disabled required>
                                </div>
                                <div class="form-group col-md-6">
                                    <select2 [data]="allocatedDatesArray"
                                            [options]="singleOption"
                                            [value]="timesheetValue"
                                            [disabled]="extra.con"
                                         (valueChanged)="alloDateChanged($event)"
                                    ></select2>
                                    <label>Allocated Date</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group datepic col-md-6">
                                    <label>Select Date<span style="color: red;">*</span></label>
                                    <div class="input-group">
                                        <span class="input-group-addon" (click)="x.toggle()" style="pointer-events: none;">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                        <input class="form-control" ngbDatepicker #x="ngbDatepicker" name="dob"
                                                #date="ngModel" [(ngModel)]="timesheet.date" disabled required>
                                        <span class="bar"></span>
                                    </div>      
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Weekend</label>
                                    <input type="text" class="form-control" name="weekend" #weekend="ngModel" [(ngModel)]="timesheet.weekend" disabled>
                                    <span class="bar"></span>       
                                </div>
                            </div>
                            <div class="form-group" style="position: relative;">
                                <h6 style="position: absolute;top: -12px;">Total Working hours</h6>
                                <div class="row">
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="hours" #hours="ngModel" [(ngModel)]="totaltime.hour" disabled>
                                        <span class="bar"></span>
                                        <small class="addon-cus">hours</small>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" name="mins" #mins="ngModel" [(ngModel)]="totaltime.minute" disabled>
                                        <span class="bar"></span>
                                        <small class="addon-cus">mins</small>
                                    </div>
                                </div>
                            </div>
                            <h5 class="m-b-15">Work Hour</h5>
                            <div class="row">
                                <div class="form-group datepic col-6">
                                    <h6 style="font-size: 11px; color: #007bff;">Start</h6>
                                    <ngb-timepicker name="start" [(ngModel)]="timesheet.startTime" [meridian]="meridian"></ngb-timepicker>
                                </div>
                                                        
                                <div class="form-group datepic finish col-6" style="overflow: visible;">
                                    <h6 style="font-size: 11px; color: #007bff;">End</h6>
                                    <ngb-timepicker name="end" [(ngModel)]="timesheet.finishTime" [meridian]="meridian" (change)="checkOverTime()"></ngb-timepicker>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Overtime</label>
                                    <input type="text" class="form-control" name="overtime" #overtime="ngModel" [(ngModel)]="timesheet.overtime" disabled>
                                    <span class="bar"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Week Day</label>
                                    <input type="text" class="form-control" name="weekDay" #weekDay="ngModel" [(ngModel)]="timesheet.weekDay" disabled>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Break Time</label>
                                    <input type="text" class="form-control" name="breakTime" #breakTime="ngModel" [(ngModel)]="timesheet.breakTime">
                                    <span class="bar"></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Comment</label>
                                    <textarea type="text" rows="1" class="form-control" name="clientTime" #clientTime="ngModel" [(ngModel)]="timesheet.clientTimesheetInstruction"></textarea>
                                    <span class="bar"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="checkbox" id="md_checkbox_27" class="filled-in chk-col-light-blue" [checked]="timesheet.approved" (change)="timesheet.approved = !timesheet.approved">
                                    <label id="checkbox-app" for="md_checkbox_27">Approved</label>
                                </div>
                                <div class="form-group col-md-8" *ngIf="extra.pro">
                                    <h6 class="card-title" style="padding: 0px;">Upload Timesheet</h6>
                                    <small>Please upload your file (Max 5 MB)</small>
                                    <div class="upload-pdf">
                                        <input type="file" id="input-file-now" class="dropify" (change)="fileChangeEvent($event)"/>
                                    </div>
                                    <div *ngIf="extra.tsk">
                                        File uploading.....
                                    </div>
                                    <button class="btn btn-danger btn-sm" *ngIf="extra.pro && extra.con" (click)="cancleChange()" style="margin-top: 20px;">Cancel</button>
                                </div>
                                <div class="form-group col-md-8" *ngIf="!extra.pro">
                                    <h6>Uploaded Document</h6>  
                                    <div *ngIf="timesheet.employeeTimesheetDocument">
                                        <div *ngIf="!checkPdf(timesheet.employeeTimesheetDocument?.fileName)" style="cursor: pointer;">
                                            <img class="show-img" src="{{url}}/documents/{{timesheet.employeeTimesheetDocument?.fileName}}" width="50" height="50">
                                        </div>
                                        <a *ngIf="checkPdf(timesheet.employeeTimesheetDocument?.fileName)" href="{{url}}/documents/{{timesheet.employeeTimesheetDocument?.fileName}}" target="_blank" style="cursor: pointer;">
                                            <img class="show-img" src="./assets/images/pdf.png" width="50" height="50">
                                        </a>
                                    </div>
                                    <div *ngIf="!timesheet.employeeTimesheetDocument">No Attachment</div>

                                    <button class="btn btn-info btn-sm" (click)="changeDoc()" style="margin-top: 20px;">Change Doc</button>
                                </div>
                            </div>
                           
                                        

                            <div class="form-group text-center" style="padding-top: 15px;" *ngIf="!extra.loader">
                                <button type="button" class="btn btn-info btn-sm" *ngIf="!extra.con" (click) = "uploadTimesheet()" [disabled] = "!registerForm.form.valid">Add Timesheet</button>
                                <button type="button" class="btn btn-info btn-sm" *ngIf="extra.con" (click) = "updateTimesheet()">Update Timesheet</button>
                                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                                                    
                            <div class="loader" *ngIf="extra.loader"></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="ImagePop" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"  >
            <div class="modal-body">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="img_wrap">
                    <img src="" class="imgpreview">
                </div>
                <hr>
                <div class="text-center">
                <button type="button" class="btn btn-info btn-sm text-uppercase waves-effect waves-light" (click)="imagePopUp.leftRotation()"><i class="fa fa-undo"></i></button>
                <button type="button" class="btn btn-info btn-sm text-uppercase waves-effect waves-light" (click)="imagePopUp.RightRotation()"><i class="fa fa-repeat"></i></button>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="archive" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="text-center" style="margin: 30px 5px;">
                    <h4>Do you want to delete <b class="red">{{timesheet.allocatedDates?.employeeAllocation?.task.taskName}}({{validationForm.dateShow(timesheet.date)}})</b>'s timesheet?
                    </h4>
                </div>
                <div class="text-center" *ngIf="!extra.loader" style="margin: 10px 5px;">
                    <button type="button" class="btn btn-info btn-sm text-uppercase" (click)="archiveTimesheet()">Yes</button>
                    <button type="button" class="btn btn-danger btn-sm text-uppercase" data-dismiss="modal">No</button>
                </div>
                <div class="loader" *ngIf="extra.loader"></div>
            </div>
        </div>

    </div>
</div>