<!-- Alert -->
<alart [code]="extra.code" [status]="extra.status"></alart>
<!-- Alert End-->  
                    <div class="card-body">
                        <div class="col-12 padding-zero">
                            <h2 class="card-title inlien-block" style="margin-bottom: 0px;">Uploaded Document List</h2>
                            <div class="inlien-block flaot-right">
                                <button type="button" class="btn btn-info btn-sm"
                                data-toggle="modal" data-target="#addOther" (click)="initUploadDoc()">Upload Documents</button>
                            </div>   
                        </div>
                        <div class="col-12 padding-zero" style="margin-bottom: 10px;">
                            <div class="dataTables_filter inlien-block" style="float: none;">
                                <input type="search" class="" placeholder="Search">  
                                <span style="margin-left: 25px; ">Showing 1 to 10 of 57 entries</span>
                            </div>
                           <div class="inlien-block flaot-right">
                                <button class="btn btn-success btn-sm text-uppercase waves-effect waves-light"><i class="fa fa-file"></i> Export to CSV</button>
                            </div>
                        </div>
                        <div class="col-12 padding-zero">
                            <div class="table-responsive">
                                <table id="example23" class="display nowrap table table-hover color-table dark-table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span class="name-table-head">Document Name</span>
                                                <span class="up-down-angle">
                                                    <div><i class="fa fa-angle-up"></i></div>
                                                    <div><i class="fa fa-angle-down"></i></div>
                                                </span>
                                            </th>
                                            <th>
                                                <span class="name-table-head">Attachment</span>
                                                <span class="up-down-angle">
                                                    <div><i class="fa fa-angle-up"></i></div>
                                                    <div><i class="fa fa-angle-down"></i></div>
                                                </span>
                                            </th>
                                            <th>
                                                <span class="name-table-head">Description</span>
                                                <span class="up-down-angle">
                                                    <div><i class="fa fa-angle-up"></i></div>
                                                    <div><i class="fa fa-angle-down"></i></div>
                                                </span>
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let doc of projectDoc; let i='index'">
                                              <td>{{doc.documentTitle}}</td>
                                              <td>
                                                <div *ngIf="!checkPdf(doc.documentName)" (click)="imagePopUp.imagePreview(url + doc.documentPath+'/'+doc.documentName)" style="cursor: pointer;">
                                                    <img class="show-img" data-toggle="modal" data-target="#ImagePop" src="{{url}}{{doc.documentPath}}/{{doc.documentName}}" width="50" height="50">
                                                </div>
                                                <a *ngIf="checkPdf(doc.documentName)" href="{{url}}{{doc.documentPath}}/{{doc.documentName}}" target="_blank" style="cursor: pointer;">
                                                    <img class="show-img" src="./assets/images/pdf.png" width="50" height="50">
                                                </a>
                                              </td>
                                              <td>{{doc.description}}</td>
                                              <td>
                                                  <div ngbDropdown class="d-inline-block">
                                                    <button class="btn btn-outline-info btn-sm" id="dropdownBasic1" ngbDropdownToggle>Actions</button>
                                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                                        <button class="dropdown-item btn btn-sm" data-toggle="modal" data-target="#addOther" (click)="initEditUploadDoc(doc)"><i class="fa fa-edit"></i> Edit</button>
                                                        <button class="dropdown-item btn btn-sm" data-toggle="modal" data-target="#archive" (click)="initArchive(doc,i)"><i class="fa fa-trash-o"></i> Archive</button>
                                                    </div>
                                                </div>
                                              </td>
                                        </tr>
                                             
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


<!-- Modal -->
<div id="addOther" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Upload Document
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" (click)="reset()">&times;</span>
                                    </button>
                                </h4>
                                <form class="floating-labels" role="form" id="docForm" #docForm="ngForm">

                                    <div class="form-group" style="overflow: visible;">
                                        <label>Document Name</label>
                                        <input class="form-control" type="text" name="title" #title="ngModel" [(ngModel)]="proUploadDoc.title" required>
                                        <span class="bar"></span>
                                        <div *ngIf="!title.valid && title.touched">
                                            <small class="error" *ngIf="title.errors.required">Document name required.</small>
                                        </div>
                                    </div>
                                    <div class="form-group" style="overflow: visible;">
                                        <label>Document Description</label>
                                        <textarea class="form-control" type="text" name="description" #description="ngModel" [(ngModel)]="proUploadDoc.description" required></textarea>
                                        <span class="bar"></span>
                                        <div *ngIf="!description.valid && description.touched">
                                            <small class="error" *ngIf="description.errors.required">Document description required.</small>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="extra.editAvatar">
                                        <h6>Upload Document</h6>  
                                        <div class="card-body text-center">
                                            <small for="input-file-now">Please upload your image (Max 5 MB)</small>
                                            <input type="file" id="input-file-now" class="dropify" (change)="fileChangeEvent($event)"/>
                                            <button class="btn btn-danger btn-sm" *ngIf="extra.editAvatar && extra.tsk" (click)="cancleChange()" style="margin-top: 20px;">Cancel</button>
                                        </div>
                                    </div>
                                    <div class="form-group" *ngIf="!extra.editAvatar">
                                        <h6>Uploaded Document</h6>  
                                        <div  class="card-body text-center">
                                            <img *ngIf="!checkPdf(docImage)" class="show-img" src="{{url}}{{docImage}}" width="200" height="200">
                                            <img *ngIf="checkPdf(docImage)" class="show-img" src="./assets/images/pdf.png" width="100" height="100">
                                            <br>
                                            <button class="btn btn-info btn-sm" (click)="changeDoc()" style="margin-top: 20px;">Change Doc</button>
                                        </div>
                                    </div>


                                    <div class="form-group text-center" *ngIf="!extra.loader" style="margin: 30px 0 0 0;">
                                        <button *ngIf="!extra.editTrue" class="btn btn-info btn-sm text-uppercase" [disabled] = "!docForm.form.valid" (click) = "addDocument(docForm)">Add</button>
                                        <button *ngIf="extra.editTrue" class="btn btn-info btn-sm text-uppercase" [disabled] = "!docForm.form.valid" (click) = "updateDocument()">Update</button>
                                        <button class="btn btn-danger btn-sm text-uppercase" data-dismiss="modal" (click)="reset()">Cancel</button>
                                    </div>
                                    <div class="loader" *ngIf="extra.loader"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="ImagePop" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content"  >
            <div class="modal-body">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="img_wrap">
                    <img src="" class="imgpreview">
                </div>
                <hr>
                <div class="text-center">
                <button type="button" class="btn btn-info btn-sm" (click)="imagePopUp.leftRotation()"><i class="fa fa-undo"></i></button>
                <button type="button" class="btn btn-info btn-sm" (click)="imagePopUp.RightRotation()"><i class="fa fa-repeat"></i></button>
            </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="archive" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="text-center" style="margin: 30px 5px;">
                    <h4>Do you want to delete?
                    </h4>
                </div>
                <div class="text-center" *ngIf="!extra.loader" style="margin: 10px 5px;">
                    <button type="button" class="btn btn-info btn-sm text-uppercase" (click)="archiveData()">Yes</button>
                    <button type="button" class="btn btn-danger btn-sm text-uppercase" data-dismiss="modal">No</button>
                </div>
                <div class="loader" *ngIf="extra.loader"></div>
            </div>
        </div>

    </div>
</div>