<!-- Alert -->
<alart [code]="extra.code" [status]="extra.status"></alart>
<!-- Alert End-->  
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body"> 
                <div class="text-right" style="padding: 0px 0px 10px; width: 100%;">
                    <button class="btn btn-info btn-sm" (click)="initAddOrder()"
                    data-toggle="modal" data-target="#addOrder"><i class="fa fa-plus"></i> Add Order</button>
                    <button class="btn btn-success btn-sm" (click)="downLoadCSV()"><i class="fa fa-file"></i> Export to CSV</button>
                    <!-- <button class="btn btn-info btn-sm"><i class="fa fa-plus"></i></button> -->
                </div>

                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-header filter-head" data-toggle="collapse" data-target="#demo" style="border: 0px;cursor: pointer;" (click)="toggelIcon()">
                        <span style="font-weight: 600;"><i class="fa fa-search" style="padding-right: 10px;"></i>Advance Search</span>
                        <span *ngIf="!extra.con" style="float: right;"><i class="fa fa-plus"></i></span>
                        <span *ngIf="extra.con" style="float: right;"><i class="fa fa-minus"></i></span>
                    </div>
                    <div id="demo" class="collapse">
                        <div class="card-body filter-body">
                            <form class="floating-labels" style="padding-bottom: 10px;">
                                <div class="row">
                                    <div class="form-group datepic col-xs-6 col-md-4" >
                                        <label>Form</label>
                                        <div class="input-group">
                                            <span class="input-group-addon" (click)="xy.toggle()">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #xy="ngbDatepicker" name="formDate" [(ngModel)]="orderFilter.startDate">
                                        </div>
                                    </div>
                                    <div class="form-group datepic col-xs-6 col-md-4" >
                                        <label>To</label>
                                        <div class="input-group">
                                            <span class="input-group-addon" (click)="yz.toggle()">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #yz="ngbDatepicker" name="todate" [(ngModel)]="orderFilter.endDate">
                                        </div>
                                    </div>
                                    <div class="form-group col-xs-6 col-md-4">
                                        <label>Order</label>
                                        <input type="text" class="form-control" name="orderId" [(ngModel)]="orderFilter.orderTitle">
                                        <span class="bar"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6 col-md-4">
                                        <label>Client</label>
                                        <select class="form-control" name="clientFil" #filterClient (change)="filterClientChange(filterClient.value)" [(ngModel)]="orderFilter.client">
                                            <option></option>
                                            <option *ngFor="let clt of clientArray" [value]="clt.id">{{clt.companyName}}</option>
                                        </select>
                                        <span class="bar"></span>
                                    </div>
                                    <div class="form-group col-xs-6 col-md-4">
                                        <label>Project</label>
                                        <select class="form-control" name="proFil" [(ngModel)]="orderFilter.project">
                                            <option></option>
                                            <option *ngFor="let pro of projectArray" [value]="pro.id">{{pro.projectName}}</option>
                                        </select>
                                        <span class="bar"></span>
                                    </div>
                                    <div class="form-group col-xs-6 col-md-4">
                                        <label>Status</label>
                                        <select class="form-control" name="oStatus" [(ngModel)]="orderFilter.orderStatus">
                                            <option></option>
                                            <option>Approved</option>
                                            <option>Pending</option>
                                            <option>Rejected</option>
                                        </select>
                                        <span class="bar"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6 col-md-4">
                                        <label>Project Location</label>
                                        <input type="text" class="form-control" name="orderId" [(ngModel)]="orderFilter.projectAddress">
                                        <span class="bar"></span>
                                    </div>
                                    <div class="form-group col-xs-6 col-md-4">
                                        <label>Owner</label>
                                        <input type="text" class="form-control" name="orderId" [(ngModel)]="orderFilter.owner">
                                        <span class="bar"></span>
                                    </div>
                                    <div class="form-group col-xs-6 col-md-4">
                                        <label>Comments</label>
                                        <input type="text" class="form-control" name="orderId" [(ngModel)]="orderFilter.comments">
                                        <span class="bar"></span>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="button" class="btn btn-info btn-sm" (click)="searchFilterData()">Search</button>
                                    <button type="button" class="btn btn-danger btn-sm" (click)="resetFilterData()">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


		                <!-- ============================================================== -->
		                <!-- Start Page Content -->
		                <!-- ============================================================== -->
		        <div class="table-responsive">
		            <table id="example23" class="display nowrap table color-table dark-table table-hover table-striped table-bordered" cellspacing="0" width="100%">
		                <thead>
		                    <tr>
		                        <th>
		                            <span class="name-table-head">ID</span>
                                    <span class="up-down-angle">
                                        <div (click)="commonService.sortDescending(orderList,'id')"><i class="fa fa-angle-up"></i></div>
                                        <div (click)="commonService.sortAscending(orderList,'id')"><i class="fa fa-angle-down"></i></div>
                                    </span>
		                        </th>
		                                            
		                        <th>
		                                               
		                            <span class="name-table-head">Client</span>
		                            <span class="up-down-angle">
		                                <span class="up-down-angle">
                                            <div (click)="commonService.sortInnerObject(orderList,'project','client','companyName',false)"><i class="fa fa-angle-up"></i></div>
                                            <div (click)="commonService.sortInnerObject(orderList,'project','client','companyName',true)"><i class="fa fa-angle-down"></i></div>
                                    </span>
		                            </span>
		                        </th>
		                        <th>
		                                               
		                            <span class="name-table-head">Order</span>
		                            <span class="up-down-angle">
		                                <div (click)="commonService.sortDescending(orderList,'orderTitle')"><i class="fa fa-angle-up"></i></div>
                                        <div (click)="commonService.sortAscending(orderList,'orderTitle')"><i class="fa fa-angle-down"></i></div>
		                            </span>
		                        </th>
		                        <th>
		                            <span class="name-table-head">Status</span>
		                            <span class="up-down-angle">
		                                <div (click)="commonService.sortDescending(orderList,'orderStatus')"><i class="fa fa-angle-up"></i></div>
                                        <div (click)="commonService.sortAscending(orderList,'orderStatus')"><i class="fa fa-angle-down"></i></div>
		                            </span>
		                        </th>
		                        <th>
		                            <span class="name-table-head">Start Date</span>
		                            <span class="up-down-angle">
		                                <div (click)="commonService.sortDescendingDate(orderList,'startDate')"><i class="fa fa-angle-up"></i></div>
                                        <div (click)="commonService.sortAscendingDate(orderList,'startDate')"><i class="fa fa-angle-down"></i></div>
		                            </span>
		                        </th>
		                        <th>
		                            <span class="name-table-head">End Date</span>
		                            <span class="up-down-angle">
		                                <div (click)="commonService.sortDescendingDate(orderList,'endDate')"><i class="fa fa-angle-up"></i></div>
                                        <div (click)="commonService.sortAscendingDate(orderList,'endDate')"><i class="fa fa-angle-down"></i></div>
		                            </span>
		                        </th>
		                        <th>
		                            <span class="name-table-head">Owner</span>
		                            <span class="up-down-angle">
		                                <div><i class="fa fa-angle-up"></i></div>
		                                <div><i class="fa fa-angle-down"></i></div>
		                            </span>
		                        </th>
		                        <th>
		                            <span class="name-table-head">Last Update</span>
		                            <span class="up-down-angle">
		                                <div><i class="fa fa-angle-up"></i></div>
		                                <div><i class="fa fa-angle-down"></i></div>
		                            </span>
		                        </th>
		                        <th>
		                            <span class="name-table-head">Created On</span>
		                            <span class="up-down-angle">
		                                <div><i class="fa fa-angle-up"></i></div>
		                                <div><i class="fa fa-angle-down"></i></div>
		                            </span>
		                        </th>
		                        <th>
		                            <span class="name-table-head">Comment</span>
		                            <span class="up-down-angle">
		                                <div (click)="commonService.sortDescending(orderList,'comments')"><i class="fa fa-angle-up"></i></div>
                                        <div (click)="commonService.sortAscending(orderList,'comments')"><i class="fa fa-angle-down"></i></div>
		                            </span>
		                        </th>
                                <th>Action</th>
		                    </tr>
		                </thead>
		                <tbody>
                            <tr *ngFor="let order of orderList; let i='index'; trackBy: trackOrder">
                                <td class="ord-id" (click)="orderdata(order)">{{order.id.slice(0,10)}}...</td>
                                <td>{{order.project.client?.companyName}}</td>
                                <td class="ord-id" (click)="orderdata(order)">{{order.orderTitle}}</td>
                                <td>{{order.orderStatus}}</td>
                                <td>{{validationForm.dateShow(order.startDate)}}</td>
                                <td>{{validationForm.dateShow(order.endDate)}}</td>
                                <td>no property</td>
                                <td>no property</td>
                                <td>no property</td>
                                <td>{{order.comments}}</td>
                                <td>
                                    <div ngbDropdown class="d-inline-block">
                                        <button class="btn btn-outline-info btn-sm" id="dropdownBasic1" ngbDropdownToggle>Actions</button>
                                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                            <button class="dropdown-item btn btn-sm" data-toggle="modal" data-target="#addOrder" (click)="editOrder(order)"><i class="fa fa-pencil-square-o"></i> Quick Edit</button>
                                            <button class="dropdown-item btn btn-sm" data-toggle="modal" data-target="#archive" (click)="initArchive(order)"><i class="fa fa-archive"></i> Archive</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
		                </tbody>
		            </table>
		        </div>

                <div class="row" style="margin-top: 20px; clear: both;">
                    <div class="col-md-6 text-left">
                        <div class="dataTables_length" id="myTable_length">
                            <label>Show 
                                <select name="myTable_length" aria-controls="myTable" class="">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> entries
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ngb-pagination [collectionSize]="pagination.total_items_count" [(pageSize)] = "pagination.pageSize" [(page)]="pagination.page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage($event)" style="float: right;"></ngb-pagination>
                    </div>
                </div>   
            </div>
        </div>
    </div>
</div>



<div id="addOrder" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Order Form
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="clearAll()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </h4>
                                <form class="floating-labels" role="form" id="orderForm" #orderForm="ngForm">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <select2 [data]="clientArray"
                                                     [options]="singleOptins"
                                                     [value]="clientValue"
                                                     [disabled] = "extra.pro"
                                                     (valueChanged)="clientChanged($event)"
                                            ></select2>
                                            <label style="margin-right: 20px;">Client</label>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <select2 [data]="projectArray"
                                                     [options]="singleOptins"
                                                     [value]="projectValue"
                                                     [disabled] = "extra.editTrue"
                                                     (valueChanged)="projectChanged($event)"
                                            ></select2>
                                            <label style="margin-right: 20px;">Project</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h6>Project Address</h6>
                                        <input class="form-control"
                                            name="proAdd"  [(ngModel)]="order.project.projectAddress" disabled>
                                        <span class="bar"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Order Title*</label>
                                        <input type="text" class="form-control form-control-line"
                                            name="proDetail" #proDetail="ngModel" [(ngModel)]="order.orderTitle" required>
                                        <span class="bar"></span>
                                        <div *ngIf="!proDetail.valid && proDetail.touched">
                                            <small class="error">Title required</small>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6 form-group datepic">
                                            <label>Order Start Date</label>
                                            <div class="input-group">
                                                <span class="input-group-addon" (click)="d.toggle()">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input class="form-control" placeholder="yyyy-mm-dd"
                                                    name="startTime" ngbDatepicker #d="ngbDatepicker" 
                                                    #startTime="ngModel" [(ngModel)]="order.startDate" required>
                                            </div>
                                        </div>
                                       
                                        <div class="col-6 form-group datepic">
                                            <label>Order End Date</label>
                                            <div class="input-group">
                                                <span class="input-group-addon" (click)="a.toggle()">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input class="form-control" placeholder="yyyy-mm-dd" name="endTime" ngbDatepicker #a="ngbDatepicker" #endTime="ngModel" [(ngModel)]="order.endDate" required>
                                            </div>
                                            <div *ngIf="endTime.touched">
                                                <small class="error" *ngIf="validationForm.checkDateForOrder(order.startDate,order.endDate)">End date should be greater from start date</small>
                                            </div>
                                        </div>
                                    </div>
                                  
                                    <div class="form-group">
                                        <label>Order Description</label>
                                        <textarea type="text" class="form-control" name="ordDes" #ordDes="ngModel"
                                            [(ngModel)]="order.orderDescription"></textarea>
                                        <span class="bar"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Comments</label>
                                        <textarea class="form-control"
                                            name="comment" #comment="ngModel" [(ngModel)]="order.comments"
                                            ></textarea>
                                        <span class="bar"></span>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <h6 style="margin-right: 20px;">Contacts  or <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#contact" (click)="initContact()">Add New</button></h6>
                                            <select2 [data]="contactList"
                                                     [options]="options"
                                                     [width]="320"
                                                     [value]="value"
                                                     (valueChanged)="addContactToAllocation($event)"
                                            ></select2>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <h6 style="margin-right: 20px;">Order Status</h6>
                                            
                                            <select2 [data]="statusData" [width]="320" [value]="valueStatus" (valueChanged)="changed($event)"></select2>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group text-center" *ngIf="!extra.loader">
                                        <button type="submit" class="btn btn-info btn-sm" *ngIf="!extra.pro"
                                        [disabled] = "!orderForm.form.valid" (click) = "addOrder(orderForm)">Add Order</button>
                                        <button type="submit" class="btn btn-info btn-sm" *ngIf="extra.pro"
                                        [disabled] = "!orderForm.form.valid" (click) = "onUpdate()">Update Order</button>
                                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" (click)="clearAll()">Cancel</button>
                                    </div>
                                    <div class="loader" *ngIf="extra.loader"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="contact" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    New Contacts
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetContact(register)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </h4>
                                <form class="floating-labels" role="form" id="Registration" #register="ngForm" (ngSubmit) = "addContact(register)">
                                    <div class="form-group">
                                        <label>Emargency Contact<span style="color: red;">*</span></label>
                                        <input class="form-control" type="text" name="emargencyContact"
                                               #emargencyContact="ngModel" [(ngModel)]="contact.emargencyContact" required>
                                        <span class="bar"></span>
                                        <div *ngIf="!emargencyContact.valid && emargencyContact.touched">
                                            <small class="error" *ngIf="emargencyContact.errors.required">Emargency Contact required.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Email Address<span style="color: red;">*</span></label>
                                        <input class="form-control" type="text" name="contactEmail"
                                               #contactEmail="ngModel" [(ngModel)]="contact.user.email" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*" required>
                                        <span class="bar"></span>
                                        <div *ngIf="!contactEmail.valid && contactEmail.touched">
                                            <small class="error" *ngIf="contactEmail.errors.required">Email is required.</small>
                                            <small class="error" *ngIf="contactEmail.errors.pattern">Email is not valid.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Land Phone No<span style="color: red;">*</span></label>
                                        <input class="form-control" type="text" name="landPhone"
                                               #landPhone="ngModel" [(ngModel)]="contact.landPhone" required>
                                        <span class="bar"></span>
                                        <div *ngIf="!landPhone.valid && landPhone.touched">
                                            <small *ngIf="!landPhone.valid && landPhone.touched" class="error">Land Phone No required.</small>
                                        </div>
                                        <div>
                                            <small class="error"*ngIf="validationForm.isReallyNumber(contact.landPhone)">Please enter numbers.</small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Address<span style="color: red;">*</span></label>
                                        <input class="form-control" type="text" name="address"
                                               #address placeholder="" [(ngModel)]="contact.address" required>
                                        <span class="bar"></span>
                                        <div *ngIf="!address.valid && address.touched">
                                            <small class="error" *ngIf="address.errors.required">Address required.</small>
                                        </div>
                                    </div>
                                    <div class="form-group text-center" *ngIf="!extra.loaderadd" style="margin: 30px 0 0 0;">
                                        <button class="btn btn-info btn-sm" [disabled] = "validationForm.validContactbutton() || !register.form.valid">Add</button>
                                        <button class="btn btn-danger btn-sm" data-dismiss="modal" (click)="resetContact(register)">Cancel</button>
                                    </div>
                                    <div class="loader" *ngIf="extra.loaderadd"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="archive" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div style="margin: 30px 5px;">
                    <h4>Are you sure you want to delete <b class="red">{{order.project.projectName}}'s order</b>?
                    </h4>
                </div>
                <div class="text-center" *ngIf="!extra.loader" style="margin: 10px 5px;">
                    <button type="button" class="btn btn-info btn-sm" (click)="archiveData()">Yes</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">No</button>
                </div>
                <div class="loader" *ngIf="extra.loader"></div>
            </div>
        </div>

    </div>
</div>