agm-map {
      height: 180px;
}

.task-id{
      cursor: pointer;
      color: #4583ed;
}
.red{
	color: red;
}
.card-header{
	background: #06d79c;
    border-color: #06d79c;
}
.m-b-z-b{
	margin-bottom: 0px;
	border-radius: .3rem;
	border: 1px solid #06d79c;
}
.filter-body{
	padding-bottom: 0px; 
	border: 2px solid #398bf7;
}
.filter-head{
	background: #398bf7;
	color: #fff;
}